<div class="container">
  <h1 class="display-4">{{ userName }}</h1>
  <p><span class="badge bg-info">{{ userAge }}</span></p>
  <p><span class="badge bg-info">{{ userEmail }}</span></p>
  <hr>

  <form>
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input #inputField type="text" class="form-control" id="nameInput" [(ngModel)]="userName" name="userName" (input)="onName()" required>
      <div *ngIf="flagName" class="text-danger">*Name is required.</div>
    </div>
    <div class="mb-3">
      <label for="ageInput" class="form-label">Age</label>
      <input type="number" class="form-control" id="ageInput" [(ngModel)]="userAge" name="userAge" (input)="onAge()">
      <div *ngIf="flagAge" class="text-danger">*Age is required.</div>
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailInput" [(ngModel)]="userEmail" name="userEmail" (input)="onChange()">
      <div *ngIf="flagEmail" class="text-danger">*email is not valid</div>
    </div>
    <button type="button" class="btn btn-primary" (click)="changeName()">Change Name</button>
  </form>
</div>
